body {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* justify-content: center; */
  padding-top: 30%;
  height: 100%;
  overflow: hidden;
}

#number {
  margin-bottom: 32px;
  font-size: 72px;
}

#number::before {
  content: 'X   ';
}

.number-overflow {
  color: red;
}

.selected-value-container {
  font-size: 56px;
  min-width: 500px;
}
